@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  background-image: url(../img/backgrounds/bg_header.png);
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin: 0 auto;
  padding: 35px 0 680px;
}
.header__menu {
  height: 85px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -31px;
}
.menu__item {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  margin: 0 31px;
}
.menu__dot {
  width: 5px;
  height: 5px;
  background-color: #9bd5c1;
  position: relative;
}
.menu__logo {
  display: block;
  position: relative;
  width: 94px;
  height: 85px;
  background-image: url(../img/logos/main-logo.png);
}

.promo {
  background-color: #f7f7f7;
  padding: 120px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .promo {
    padding: 60px 0;
  }
}
.promo__title {
  margin: 35px 0;
  font-family: Lato;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.promo__text {
  margin: 0 100px;
  font-family: Lato;
  max-width: 1010px;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}
@media (max-width: 750px) {
  .promo__text {
    margin: 0 20px;
  }
}

.bike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 750px) {
  .bike {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.bike__title {
  margin: 31px 0 26px 0;
  font-family: Lato;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}
.bike__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #848789;
}
@media (max-width: 750px) {
  .bike__text {
    margin: 0 -20px;
  }
}

.bike-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 750px) {
  .bike-logo {
    height: 200px;
  }
}

.bike-content {
  max-width: 533px;
  padding: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .bike-content {
    max-width: 100%;
  }
}

.bike-image {
  height: 200px;
  width: 100%;
}
@media (max-width: 750px) {
  .bike-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.bike-one__logo {
  background-image: url(../img/backgrounds/Olivia_BG.png);
}
.bike-one__image {
  background-image: url(../img/backgrounds/Olivia_Img.png);
}

@media (max-width: 750px) {
  .bike-two {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
.bike-two__image {
  background-image: url(../img/backgrounds/Boriosa_Img.png);
}
.bike-two__logo {
  background-image: url(../img/backgrounds/Boriosa_BG.png);
}

.bike-three__logo {
  background-image: url(../img/backgrounds/Retro_BG.png);
}
.bike-three__image {
  background-image: url(../img/backgrounds/Retro_Img.png);
}
.bike-three__third-col {
  width: 10%;
  min-width: 208px;
  background-image: url(../img/backgrounds/Retro_Third.png);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 950px) {
  .bike-three__third-col {
    display: none;
  }
}

.reviev__title {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
}
.reviev__title > span {
  font-weight: 300;
  color: #848789;
}
.reviev__text {
  max-width: 850px;
  font-style: italic;
}

.review__dots {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.review__dot {
  margin: 0 5px;
  height: 11px;
  width: 11px;
  border: 1px solid #d3d7d9;
  border-radius: 50%;
  background-color: #f7f7f7;
}
.review__dot_active {
  background-color: #9bd5c1;
  border: 1px solid #9bd5c1;
}

.shop {
  margin: 0 auto;
}
.shop__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 950px) {
  .shop__images {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
@media (max-width: 950px) {
  .shop__col1 {
    display: none;
  }
}
@media (max-width: 950px) {
  .shop__col2 {
    display: none;
  }
}
.shop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop__logo > div {
  background-color: rgba(100, 194, 158, 0.8);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__logo > div > p {
  margin-top: 14px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.shop__discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #282f35;
  height: 200px;
}
.shop__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.49);
}
.shop__btn span {
  font-family: Lato;
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.shop-block {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.shop-block_1 {
  min-width: 267px;
  min-height: 267px;
  background-image: url(../img/shop/shop_1.png);
}
.shop-block_2 {
  min-width: 267px;
  min-height: 267px;
  background-image: url(../img/shop/shop_2.png);
}
.shop-block_3 {
  min-width: 533px;
  min-height: 267px;
  background-image: url(../img/shop/shop_3.png);
}
.shop-block_4 {
  min-width: 267px;
  min-height: 533px;
  background-image: url(../img/shop/shop_4.png);
}
.shop-block_5 {
  min-width: 267px;
  min-height: 533px;
  background-image: url(../img/shop/shop_5.png);
}
.shop-block_6 {
  min-width: 533px;
  min-height: 267px;
  background-image: url(../img/shop/shop_6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 950px) {
  .shop-block_6 {
    min-width: none;
    width: 100%;
  }
}
.shop-block_7 {
  min-width: 267px;
  min-height: 267px;
  background-image: url(../img/shop/shop_7.png);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.shop-block_8 {
  min-width: 267px;
  min-height: 267px;
  background-image: url(../img/shop/shop_8.png);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.shop-block-vertical {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-block-horizontal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop {
  margin: 0 auto;
}
.shop__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 950px) {
  .shop__col1 {
    display: none;
  }
}
@media (max-width: 950px) {
  .shop__col2 {
    display: none;
  }
}
.shop__col3 {
  min-width: none;
}

.mailform {
  background: #fff;
  margin: 110px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mailform > h3 {
  margin: 37px 0;
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}
.mailform > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mailform > form > input {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  margin-right: 8px;
  padding: 0 28px;
  font-family: Lato;
  font-size: 20px;
  line-height: 69px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}
.mailform > form > button {
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
}

.footer {
  background-color: #f7f7f7;
  padding: 100px 100px;
}
@media (max-width: 950px) {
  .footer {
    padding: 20px 20px;
  }
}
.footer__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 950px) {
  .footer__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}
@media (max-width: 950px) {
  .footer__text {
    width: 100%;
  }
}
.footer__text > p:nth-child(2), .footer__text > p:nth-child(3) {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}
.footer__socials {
  margin: 0 -8px;
}
.footer__socials > img {
  margin: 0 8px;
}
.footer__credist {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
}
.footer__credist > p {
  font-family: Lato;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin-right: 10px;
}